main {
  display: flex;
  flex-wrap: wrap;
  padding-block: 24px;
  gap: 24px;
}

main img {
  width: 100%;
  height: 286px;
  border-radius: 12px;
}

@media (width >= 768px) {
  main {
    justify-content: center;
  }
  main img {
    width: 320px;
    height: 320px;
    border-radius: 12px;
  }
}

@media (width >= 1280px) {
  main img {
    width: 286px;
    height: 286px;
    border-radius: 12px;
  }
}
